.Results {
  text-align: center;
  margin-left: -20%;
}

.pagenation_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

tr td {
  padding: 5px;
}